:root {
background-color: radial-gradient(circle, rgb(248, 237, 235), rgb(250, 225, 221));
font-synthesis: none;
text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  }
  

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
  }
  
  /* Utility classes */
  .text-center {
    text-align: center;
  }
  
  .mt-4 {
    margin-top: 1.5rem;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  /* Add more global styles and utility classes as needed */
  